body {
  margin: 0;
  font-family: Bahnschrift SemiBold, Verdana, Lucida Sans, Segoe UI, Calibri;
  color: #e0e0e0;
  background-color: #495654;
}

code {
  font-family: Verdana, Lucida Sans, Segoe UI, Calibri
}
